pagos/Web References/wsUcolProduccion/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://siceuc2.ucol.mx/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://siceuc2.ucol.mx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://siceuc2.ucol.mx/">
      <s:element name="consulta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasenia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tienda" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaResult" type="tns:respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Respuesta" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="txtrespuesta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="fintransaccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasenia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tienda" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fintransaccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fintransaccionResult" type="tns:respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelartransaccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasenia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tienda" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelartransaccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cancelartransaccionResult" type="tns:respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generarReferencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasenia" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generarReferenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="generarReferenciaResult" type="tns:respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultaSoapIn">
    <wsdl:part name="parameters" element="tns:consulta" />
  </wsdl:message>
  <wsdl:message name="consultaSoapOut">
    <wsdl:part name="parameters" element="tns:consultaResponse" />
  </wsdl:message>
  <wsdl:message name="fintransaccionSoapIn">
    <wsdl:part name="parameters" element="tns:fintransaccion" />
  </wsdl:message>
  <wsdl:message name="fintransaccionSoapOut">
    <wsdl:part name="parameters" element="tns:fintransaccionResponse" />
  </wsdl:message>
  <wsdl:message name="cancelartransaccionSoapIn">
    <wsdl:part name="parameters" element="tns:cancelartransaccion" />
  </wsdl:message>
  <wsdl:message name="cancelartransaccionSoapOut">
    <wsdl:part name="parameters" element="tns:cancelartransaccionResponse" />
  </wsdl:message>
  <wsdl:message name="generarReferenciaSoapIn">
    <wsdl:part name="parameters" element="tns:generarReferencia" />
  </wsdl:message>
  <wsdl:message name="generarReferenciaSoapOut">
    <wsdl:part name="parameters" element="tns:generarReferenciaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="consulta">
      <wsdl:input message="tns:consultaSoapIn" />
      <wsdl:output message="tns:consultaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fintransaccion">
      <wsdl:input message="tns:fintransaccionSoapIn" />
      <wsdl:output message="tns:fintransaccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cancelartransaccion">
      <wsdl:input message="tns:cancelartransaccionSoapIn" />
      <wsdl:output message="tns:cancelartransaccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="generarReferencia">
      <wsdl:input message="tns:generarReferenciaSoapIn" />
      <wsdl:output message="tns:generarReferenciaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consulta">
      <soap:operation soapAction="http://siceuc2.ucol.mx/consulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fintransaccion">
      <soap:operation soapAction="http://siceuc2.ucol.mx/fintransaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelartransaccion">
      <soap:operation soapAction="http://siceuc2.ucol.mx/cancelartransaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarReferencia">
      <soap:operation soapAction="http://siceuc2.ucol.mx/generarReferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consulta">
      <soap12:operation soapAction="http://siceuc2.ucol.mx/consulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fintransaccion">
      <soap12:operation soapAction="http://siceuc2.ucol.mx/fintransaccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelartransaccion">
      <soap12:operation soapAction="http://siceuc2.ucol.mx/cancelartransaccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarReferencia">
      <soap12:operation soapAction="http://siceuc2.ucol.mx/generarReferencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://siceuc2.ucol.mx/wsKioscos/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://siceuc2.ucol.mx/wsKioscos/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>